if TARGET_IMX8QXP_ONEKIWI

config SYS_BOARD
	default "imx8qxp_onekiwi"

config SYS_VENDOR
	default "onekiwi"

config SYS_CONFIG_NAME
	default "imx8qxp_onekiwi"

config IMX_CONFIG
	default "board/onekiwi/imx8qxp_onekiwi/imximage.cfg"

endif
